<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>KU Polls</title>

</head>
<body>

{% load static %}

<link rel="stylesheet" href="{% static 'polls/style.css' %}">

{% if user.is_authenticated %}

<div>
    <h2 style="font-size: 2.5em;"> Welcome, {{ user.username }} </h2>
    <a href="{% url 'logout'%}"> Logout </a>
</div>

{% else %}
<div class="myDiv">
    <h2 style="font-size: 2.5em;"> Welcome, Please login to start voting. </h2>
    <a href="{% url 'login'%}?next={{request.path}}"> Login </a>
</div>

{% endif %}

{% if messages %}
<ul class="m">
    {% for message in messages %}
    <li> <a class="message">{% if message.tags %} {% endif %} {{ message }}</a></li>
    {% endfor %}
</ul>
{% endif %}

{% if latest_question_list %}
    <ul class="a">
    {% for question in latest_question_list %}
        <li>
            <a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a>
            <b>|---|</b>
            <a href="{% url 'polls:results' question.id %}">   View Results   </a>
            <br>
            <br>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}

</body>
</html>