li a {
    color: green;
    font-size: 19px;
}

.message {
    color: red;
    font-size: 20px;
}

ul.g {
    list-style: none ;
}

ul.m {
    list-style: none;
}

ul.a {
    list-style-type: upper-roman;
}

li b {
    font-size: 20px;
}

body {
    background: white url("images/bg1.jpg") 10px -20px;
}

.login{
    color: blue;
    font-size: 20px;
}

.signup {
    color: blue;
    font-size: 20px;
}


